@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Raleway;
 }

body {
  width: 100%;
  height: 100dvh;
  background-color: rgb(250, 232, 255);
}

li {
  cursor: pointer;
}
